[submodule "./custom_nodes/ComfyUI-Manager"]
	path = custom_nodes/ComfyUI-Manager
	url = https://github.com/ltdrdata/ComfyUI-Manager.git

[submodule "./custom_nodes/ComfyUI-AnimateDiff-Evolved"]
	path = custom_nodes/ComfyUI-AnimateDiff-Evolved
	url = https://github.com/Kosinkadink/ComfyUI-AnimateDiff-Evolved

[submodule "./custom_nodes/comfyui-animatediff"]
	path = custom_nodes/comfyui-animatediff
	url = https://github.com/ArtVentureX/comfyui-animatediff

[submodule "./custom_nodes/ComfyUI-VideoHelperSuite"]
	path = custom_nodes/ComfyUI-VideoHelperSuite
	url = https://github.com/Kosinkadink/ComfyUI-VideoHelperSuite

[submodule "./custom_nodes/efficiency-nodes-comfyui"]
	path = custom_nodes/efficiency-nodes-comfyui
	url = https://github.com/jags111/efficiency-nodes-comfyui

[submodule "./custom_nodes/a-person-mask-generator"]
	path = custom_nodes/a-person-mask-generator
	url = https://github.com/djbielejeski/a-person-mask-generator.git
